if [ "$TERM" = "xterm-kitty" ]; then
    alias ssh='kitty +kitten ssh'
fi

{{ if eq .chezmoi.hostname "screw-serpent" }}
alias reboot-windows="systemctl reboot --boot-loader-entry='auto-windows'"
{{ end }}
alias ls="eza -l --icons -a"

## CONTAINER WORKFLOWS

alias caddy-reload="ssh evilspades@catapult-dragon.local 'docker exec caddy caddy -c /etc/caddy/Caddyfile reload'"
alias caddy-edit="dockhand-edit container caddy /etc/caddy/Caddyfile --env catapult-dragon; caddy-reload"
alias authelia-cli="ssh evilspades@catapult-dragon.local 'docker exec authelia authelia'"

alias szsh="source ~/.zshrc"

## SSH

alias catapult-dragon="ssh evilspades@catapult-dragon.local"
alias cyber-magician="ssh evilspades@cyber-magician.local"
alias tank-grub="ssh evilspades@tank-grub.local"
alias screw-serpent="ssh jackson@screw-serpent.local"
