if [ "$TERM" = "xterm-kitty" ]; then
    alias ssh='kitty +kitten ssh'
fi

{{ if eq .chezmoi.hostname "screw-serpent" }}
alias reboot-windows="systemctl reboot --boot-loader-entry='auto-windows'"
{{ end }}
alias ls="eza -l --icons -a"

alias caddy-reload="ssh evilspades@catapult-dragon.local 'docker exec caddy caddy -c /etc/caddy/Caddyfile reload'"
alias caddy-edit="dockhand-edit container caddy /etc/caddy/Caddyfile --env catapult-dragon; caddy-reload"

alias szsh="source ~/.zshrc"