{{- if eq .displayConfig "1080" -}}
    {{- $width := 30 -}}
{{- else if eq .displayConfig "1440" -}}
    {{- $width := 40 -}}
{{- else -}}
    {{- $width := 50 -}}
{{- end -}}

{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "modules": [
    "title",
    "separator",
    "os",
    "host",
    "kernel",
    "uptime",
    "shell",
    "display",
    "de",
    "wm",
    "wmtheme",
    "theme",
    "icons",
    "font",
    "cursor",
    "terminal",
    "terminalfont",
    "cpu",
    "gpu",
    "memory",
    "disk",
    "localip",
    "battery",
    "poweradapter",
    "break",
    "colors"
  ],
  {{- if eq .chezmoi.os "linux" }}
  "logo": {
    "type": "auto",
    "source": "~/.config/fastfetch/images/*.png",
    "preserveAspectRatio": true,
    "width": {{- $width -}}
  }
  {{- end }}
  {{- if eq .chezmoi.os "windows" }}
  "logo": {
    "type": "file",
    "source": "~/.config/fastfetch/c-c.txt"
  }
  {{- end }}
}
