{{- $graphicschoices := list "intel" "nvidia" "amd" -}}
{{- $graphics := promptChoiceOnce . "graphics" "Select the graphics backend for this system." $graphicschoices "nvidia" -}}


[data]
    graphics = {{- $graphics | quote }}

[git]
    autoCommit = true
    autoPush = true
