{{- $graphicschoices := list "intel" "nvidia" "amd" -}}
{{- $graphics := promptChoiceOnce . "graphics" "Select the graphics backend for this system." $graphicschoices "nvidia" -}}

{{- $displayConfigChoices := list "1080" "1440" "2k" "4k" -}}
{{- $displayConfig := promptChoiceOnce . "displayConfig" "Select the screen resolution for sizing" $displayConfigChoices "1080" -}}

[data]
    graphics = {{- $graphics | quote }}
    displayConfig = {{- $displayConfig | quote }}

[git]
    autoCommit = true
    autoPush = true

{{- $logoWidth := 50 -}}
{{- if eq .displayConfig "1080" -}}
    {{- $logoWidth := 30 -}}
{{- else if eq .displayConfig "1440" -}}
    {{- $logoWidth := 40 -}}
{{- end -}}

[fastfetch]
    logoWidth = {{ $logoWidth }}
