#!/bin/bash
# hash of the palette so this reruns only when it changes:
# palette hash: {{ include "dot_config/oomox/colors/abyssal-16" | sha256sum }}

oomox-cli ~/.config/oomox/colors/abyssal-16 -o abyssal-16
oomox-archdroid-icons-cli -o abyssal-16 -d ~/.icons ~/.config/oomox/colors/abyssal-16