{
  "defaultModel": "qwen3.5:9b",
  "defaultProvider": "ollama",
  "lastChangelogVersion": "0.84.2",
  "theme": "dark",
  "packages": [
    "npm:@ollama/pi-web-search",
    "git:github.com/cgxeiji/pi-emote"
  ],
  "hideThinkingBlock": true
}