{{- $graphicschoices := list "intel" "nvidia" "amd" -}}
{{- $graphics := promptChoiceOnce . "graphics" "Select the graphics backend for this system." $graphicschoices -}}

[data]
    graphics = {{- $graphics | "nvidia" }}